# Игнорируем скомпилированный бинарник
arduino_mon/ups_reader

# Игнорируем объектные файлы (если появятся в будущем)
*.o
*.out

# Игнорируем скрытые файлы операционных систем
.DS_Store
Thumbs.db
